<div style="font-size: 15px"><pre class="tab"><b>Name-</b>Haardik Gilhotra          <b>Roll no.-</b>R177219086          <b>Sap Id-</b>500076610          <b>Batch</b>-3 AI&ML</pre>
<hr>
<div style="font-size: 30px"><b><u><center>EXPERIMENT - 3</center></u></b>
    <div style="font-size: 20px"><b>Aim: Air Quality Prediction</b>
<!--jupyter-nbconvert --to PDFviaHTML airquality.ipynb-->

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler as ss
from sklearn.linear_model import LinearRegression as lr
from sklearn.ensemble import RandomForestRegressor as rfr
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import mean_squared_error as mse
import matplotlib.pyplot as plt

In [2]:
# Reading dataset
airq = pd.read_csv("airquality.csv")
airq.head(2)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10-03-2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10-03-2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255

In [3]:
# Pre Processing Data
# Removing unnecessary data
airq = airq.drop(['Date','Time'], axis = 1)
airq.head(2)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255

In [4]:
for col in airq:
    airq[col] = airq[col].astype("float64")

In [5]:
# Checking if dataset has any nan values
len(airq[airq.isna().any(axis=1)])

0

In [6]:
cols = (list(airq.columns))
cols.remove('RH')
target = airq
target.head(2)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255

In [7]:
def remove_outliers(col,target):
    data = target
    data["z_" + col] = (data[col] - data[col].mean()) / data[col].std()
    data = data[np.abs(data["z_" + col])<3]
    return data
for col in cols:
    print("Removing outliers in ",col)
    target = remove_outliers(col, target)
print("Total outliers removed: ", airq.shape[0] - target.shape[0])

Removing outliers in  CO(GT)
Removing outliers in  PT08.S1(CO)
Removing outliers in  NMHC(GT)
Removing outliers in  C6H6(GT)
Removing outliers in  PT08.S2(NMHC)
Removing outliers in  NOx(GT)
Removing outliers in  PT08.S3(NOx)
Removing outliers in  NO2(GT)
Removing outliers in  PT08.S4(NO2)
Removing outliers in  PT08.S5(O3)
Removing outliers in  T
Removing outliers in  AH
Total outliers removed:  966

In [8]:
target = target.drop(target.loc[:,"z_CO(GT)":], axis = 1)
target.head(2)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255

In [9]:
# Defining x and y for the model
x = target.drop(['RH'],axis = 1).values
y = target['RH'].values
x = ss().fit_transform(x)

In [10]:
# Splitting the dataset into training and testing data
x_train, x_test, y_train, y_test = tts(x,y,test_size = 0.20)

In [11]:
# Loading the models
models = {
    "Linear Regression": lr(),
    "Support Vector Regression": SVR(),
    "Random Forest Regressor": rfr()
}

In [12]:
# Training and printing the accuracy of the model
for name, model in models.items():
    model.fit(x_train,y_train)
    print(name)
    print("Training accuracy: {:.2%}".format(model.score(x_train,y_train)))
    print("Testing accuracy: {:.2%}\n".format(model.score(x_test,y_test)))

Linear Regression
Training accuracy: 87.95%
Testing accuracy: 87.83%

Support Vector Regression
Training accuracy: 96.28%
Testing accuracy: 95.97%

Random Forest Regressor
Training accuracy: 99.98%
Testing accuracy: 99.90%

In [13]:
# Evaluating the model
for name, model in models.items():
    print(name)
    y_pred = model.predict(x_test)
    print("Root Mean Squared Error: {:.3}\n".format(np.sqrt(mse(y_test, y_pred))))

Linear Regression
Root Mean Squared Error: 6.02

Support Vector Regression
Root Mean Squared Error: 3.47

Random Forest Regressor
Root Mean Squared Error: 0.559